.rayures{
    background: repeating-linear-gradient(
      45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px
      );
      color:white;
}

.anim-bloc2{
  border:3px solid green;
  animation: animBordure 3s infinite alternate linear;
}

@keyframes animBordure{
  from{
    transform: rotate3d(0);
    border:0px solid red;
  }
  to{
    transform: rotate3d(0.3, 1, 1, 90deg);
    border: 10px solid green
  }
}

.anim-bloc3{
  transform:to-upper-case($string: "Eddy Martin");
  font-size: 1em;
  color:yellow;
  transition: color 2s, font-size 2s;
  &:hover{
    color:purple;
    font-size: 4em;
    &:before{
      content: "JOYEUSES PÂQUES \n";
    }
  }
}

.anim-bloc1{
  color:black;
  transform:rotate(0), translateX(0);
  opacity: 1;
  transition: transform 1s, color 1s, opacity 1s;
  &:hover{
    transform: rotate(45deg) translateX(20px);
    color: #606dbc;
    opacity: .1;
  }
} 
